#logo{
    height:40px;
}
#todolist li {
    border-radius: 2px;
    list-style: none;
    background: #eee;
    padding: 5px 10px;
    margin-bottom: 5px;
    position: relative;
}
#todolist li:nth-child(2n){
    background: #ccc;
}
#todolist li:hover:after,
#todolist li.done:after {
    content: '-';
    color: #060;
    position: absolute;
    right: 5px;
}
#todolist li.done:hover:after {
    content: 'x';
    font-weight: bold;
    color: #0c93cc;
    position: absolute;
    right: 5px;
}
.small-box{
    height: 100px;
}
.small-box-glyphicons{
    padding: 35px 20px 0 0;
}
.widget-stats:hover {
    background-color: #DBD5D5;
    color: #fff;
}
